<div class="container-fluid">
  <h1>Lorem Ipsum</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque odit ipsa
    iure ex obcaecati eaque dolores. Soluta, quia error. Eligendi qui similique
    harum nemo accusamus dolorum necessitatibus eveniet repellat doloribus!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorem
    nemo illum eaque quod earum delectus voluptate maiores tempora cupiditate
    nobis enim suscipit aliquam hic, vitae repellat itaque consequuntur aperiam.
  </p>
</div>
